<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- 控制台输出 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level
				%logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 文件输出 -->
	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/nauth-platform_info.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/nauth-platform_info_%d{yyyy-MM-dd}_%i
			</fileNamePattern>
			<MaxHistory>100</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>100MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level
				%logger{36} - %msg%n</pattern>
		</layout>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>DENY</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
	</appender>
	<!-- 错误日志输出 -->
	<appender name="errorAppender"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>./logs/nauth-platform_error.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>./logs/nauth-platform_error_%d{yyyy-MM-dd}_%i.log
			</fileNamePattern>
			<MaxHistory>100</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>100MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level
				%logger{36} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
	</appender>
	<!-- 日志输出级别 -->
	<!-- project default level -->
	<logger name="com.qf.nauth" level="INFO" />
	<logger name="com.qf.nauth.modules.sys.dao" level="DEBUG" />
	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
		<appender-ref ref="errorAppender" />
	</root>
</configuration>
